body {
  padding: 0px;
  font-family: Arial, sans-serif;
  background: url('https://realwood.ru/upload/iblock/389/38991d1c2b30418da64ef948da326220.jpg') no-repeat center center fixed;
  background-size: cover;
}

.desk {
  display: inline-flex;
  list-style-type: none;
  margin-left: -40px;
}

.index_ad {
  border-style: solid;
  height: auto;
  width: 333px;
  font-size: 12px;
  margin: 28px;
  background: url('https://img.freepik.com/free-photo/squared-paper-texture_1154-677.jpg?size=338&ext=jpg&ga=GA1.1.1412446893.1704412800&semt=ais');
  border-color: rgb(195, 164, 164);
  border-radius: 16px;
  text-align: center;
}

.main_page {
  position: absolute;
  width: 100%;
  left: 0%;
  height: auto;
  top: 190%;
  background-color: rgb(244, 222, 160);
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgb(144, 104, 53);
}

.link_left_s {
  position: absolute;
  top: 121%;
  left: 16%;
  display: inline-block;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(99, 75, 44);
  border-radius: 33px;
  border: none;
  cursor: pointer;
  border-style: solid;
}

.link_right_s {
  position: absolute;
  top: 121%;
  right: 16%;
  display: inline-block;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(99, 75, 44);
  border-radius: 33px;
  border: none;
  cursor: pointer;
  border-style: solid;
}

.img_v {
  border-style: solid;
  border-color: rgb(143, 141, 134);
  border-radius: 15px;
  display: inline;
}

.theme {
  font-size: 25px;
  word-break: break-word;
}

.main_text {
  margin: 10px;
  word-break: break-word;
  font-size: 18px;
}

.author {
  margin: 10px;
  word-break: break-word;
}

.email {
  margin: 10px;
  word-break: break-word;
}

.footer_1 {
  color: rgb(115, 103, 68);
  word-break: break-word;
  width: 90%;
}

.footer_2 {
  color: rgb(115, 103, 68);
  word-break: break-word;
  width: 90%;
}

.footer {
  position: fixed;
  bottom: 0px;
  background-color: rgb(255, 233, 179);
  width: 100%;
  left: 0px;
  padding: 15px;
  text-align: center;
  font-family: Arial Narrow;
  border-top-style: ridge;
}

.menu {
  background-color: rgb(115, 85, 65);
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  text-align: center;
  height: 70px;
  border-bottom-left-radius: 41px;
  border-end-end-radius: 40px;
}

.links {
  position: absolute;
  width: 68%;
  height: 50px;
  right: 0%;
  top: 9%;
  display: -webkit-flex;
}

.glav_str {
  position: absolute;
  top: 9%;
  left: 1%;
  font-size: 35px;
  font-family: Ayuthaya;
  color: rgb(241, 205, 187);
  font-weight: bold;
  background-color: rgb(120, 88, 71);
  border-radius: 10px;
  padding: 5px;
  width: 29%;
  border-bottom-left-radius: 40px;
}

.profile_but_name {
  display: inline-block;
  padding: 6px 25px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(173, 172, 154);
  color: rgb(110, 79, 35);
  border-radius: 33px 0px;
  cursor: pointer;
  margin-top: 6px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  margin-right: 1%;
}

.profile_but {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(231, 225, 172);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 6px;
  color: rgb(110, 79, 35);
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.img_a {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-right: 18%;
}

.profile_but:hover {    
  background-color: #9f7956;  
}

.message_main {
  position: absolute;
  left: 39%;
  top: 122%;
  width: auto;
  text-align: center;
  background-color: rgb(213, 203, 189);
  border-radius: 20px;
  padding: 8px;
}

.text_log {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.text_pas {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.text_name {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.avatar {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.contact {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.about {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.reg_back {
  background-color: rgb(203, 174, 103);
  margin: 40px;
  padding: 40px;
  text-align: center;
  width: 40%;
  position: absolute;
  left: 25%;
  border-radius: 33%;
  border-style: solid;
}

.exit_but{
  background-color: rgb(255, 204, 154);
  padding: 7px;
  border-radius: 33px;
  text-decoration: none;
  color: rgb(88, 61, 32);
  border-style: solid;
}

.button_agree {
  background-color: rgb(255, 204, 154);
  padding: 7px;
  border-radius: 33px;
  text-decoration: none;
  color: rgb(88, 61, 32);
  border-style: inset;
  border-color: rgb(1, 1, 1);
  font-size: 16px;
} 

.errors {
  width: 20%;
  position: absolute;
  right: 5%;
  top: 43%;
  word-break: break-word;
  color: red;
  padding: 10px;
  font-size: 18px;
}

.auth_back {
  background-color: rgb(203, 174, 103);
  margin: 40px;
  padding: 40px;
  text-align: center;
  width: 40%;
  position: absolute;
  left: 25%;
  border-radius: 33%;
  border-style: solid;
}

.account_str {
  position: absolute;
  top: 9%;
  left: 1%;
  font-size: 35px;
  font-family: Ayuthaya;
  color: rgb(241, 205, 187);
  font-weight: bold;
  background-color: rgb(120, 88, 71);
  border-radius: 10px;
  padding: 5px;
  width: 29%;
  border-bottom-left-radius: 40px;
}

.card {
  background-color: #bda057;
  position: absolute;
  top: 228%;
  width: 32%;
  height: 600%;
  left: 7%;
  border-style: solid;
  border-color: rgb(111, 75, 34);
  border-radius: 33px;
}

.adv {
  left: 46%;
  background-color: #bda057;
  position: absolute;
  top: 228%;
  width: 16%;
  height: auto;
  border-style: solid;
  border-color: rgb(111, 75, 34);
  border-radius: 33px;
}

.buttons_account {
  left: 69%;
  background-color: #bda057;
  position: absolute;
  top: 228%;
  width: 21%;
  height: auto;
  border-style: solid;
  border-color: rgb(111, 75, 34);
  border-radius: 33px;
  text-align: -webkit-center;
  padding: 17px;
}

.avatar_user {
  border-style: solid;
  margin-top: 9%;
  display: -webkit-inline-flex;
  border-radius: 36px;
  border-color: white;
}

.name_user {
  margin-top: 6%;
  font-size: 24px;
  font-family: Silom;
  color: rgb(255, 255, 255);
  background-color: rgb(61, 49, 32);
}

.about_user {
  width: 72%;
  word-break: break-word;
  background-color: rgb(91, 66, 38);
  color: white;
  overflow: scroll;
  display: -webkit-inline-box;
  margin-top: 5%;
  padding: 14px;
  height: 14%;
  border-radius: 33px;
  font-size: 19px;
  font-family: Marker Felt;
  letter-spacing: 2px;
}

.profile_but_acc {
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(231, 225, 172);
  border-radius: 33px;
  border: none;
  cursor: pointer;
  margin-top: 6px;
  color: rgb(110, 79, 35);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 17px;
  width: auto;
}

.profile_but_acc:hover {    
  background-color: #9f7956;  
}

.states {
  font-size: 23px;
  color: azure;
  font-family: Arial Black;
  background-color: rgb(147, 85, 37);
  width: 86%;
  text-align: center;
  border-radius: 23px;
  display: -webkit-inline-box;
  margin-top: 7px;
}

.subject_ad {
  font-size: 16px;
  color: azure;
  margin-right: 19%;
  word-break: break-word;
}

.cre_back {
  background-color: rgb(203, 174, 103);
  margin: 40px;
  padding: 40px;
  text-align: center;
  width: 40%;
  position: absolute;
  left: 25%;
  border-radius: 33%;
  border-style: solid;
}

form {
  margin-bottom: 20px;
}

.edit_back {
  background-color: rgb(203, 174, 103);
  margin: 40px;
  padding: 40px;
  text-align: center;
  width: 40%;
  position: absolute;
  left: 25%;
  border-radius: 33%;
  border-style: solid;
}

.present {
  position: absolute;
  width: 21%;
  left: 3%;
  height: 70%;
  top: 14%;
  background-color: rgb(244, 222, 160);
  border-color: rgb(144, 104, 53);
  overflow-y: scroll;
  border-style: solid;
}

.desk_ed {
  display: block;
  list-style-type: none;
  margin-left: -40px;
}

.index_ad_ed {
  border-style: solid;
  height: auto;
  width: 80%;
  font-size: 12px;
  margin: 28px;
  background: url('https://img.freepik.com/free-photo/squared-paper-texture_1154-677.jpg?size=338&ext=jpg&ga=GA1.1.1412446893.1704412800&semt=ais');
  border-color: rgb(195, 164, 164);
  border-radius: 16px;
  text-align: center;
}

.ID_adv {
  font-size: 20px;
  color: red;
  margin-top: 10px;
}