<!DOCTYPE html>
<html>
<head>
    <title>Удалить объявление</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <div class="cre_back">
        <h1>Удалить объявление</h1>
        <form method="POST" action="{{ url_for('delete_adv') }}">
            <input type="text" name="id" placeholder="Введите id">
            <button type="submit">Удалить</button>
        </form>

        <a href="{{ url_for('account') }}" class="select">Назад</a>
        {% if adv %}
            <ul>
                {% for advertisement in adv %}
                    <li>
                        {{ advertisements.id }}
                        {{ advertisements.subject }}
                        {{ advertisements.main_text }}
                        {{ advertisements.link }}
                        {{ advertisements.author_name}}
                        {{ advertisements.cooperation_condition}}
                        {{ advertisements.price}}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
           <p>Объявления не найдены</p>
        {% endif %}
        <div>
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
</body>
</html>