<!DOCTYPE html>
<html>
<head>
    <title>Редактировать пользователей</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <div class="cre_back">
        <h1>Редактировать пользователей</h1>
        <form method="POST" action="{{ url_for('delete_user') }}">
            <input class="text_name" type="text" name="id" placeholder="Введите id пользователя"><br>
            <button class="button_agree" type="submit">Удалить</button>
        </form>

        <a href="{{ url_for('account') }}" class="exit_but">Назад</a>

        <div class="errors">
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="present">
        {% if user_v %}
            <ul class="desk_ed">
                {% for i in user_v %}
                    <li class="index_ad_ed">
                        <div class="ID_adv">ID пользователя: {{ i.id }}</div>
                        <p><img src="{{ i.avatar }}" alt="{{ i.name }}" width="200" height="200" class="img_v"></p>
                        <div class="theme">{{ i.username }}</div>
                        <div class="main_text">{{ i.name }}</div>
                        <div class="main_text">{{ i.contact }}</div>
                        <div class="main_text">{{ i.about }}</div>
                        <div class="main_text">{{ i.avatar }}</div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
           <p>В данный момент нет пользователей</p>
        {% endif %}
    </div>
</body>
</html>